<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>prueba de envio de correo</title>
</head>
<body>
<form method="POST" action="">
    {% csrf_token %}
    {{correo.as_p}}
    <input type="submit" value="guardar">
</form>
</body>
</html>
