<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registro pediatria</title>
</head>
<body>
{{ datos }}
<hr> <br>
{{ bienvenido }}
{% if formulario_pediatria %}
    <form method="POST" action="">
        {% csrf_token %}
        {{ formulario_pediatria.as_p }}
        <input type="submit" value="Guardar">
    </form>
{% endif %}
</body>
</html>
